{% extends 'career_app/base.html' %}

{% block content %}
<div class="container mt-4">

    <h2>Admin Dashboard</h2>
    <p>Welcome Admin, {{ request.user.username }}</p>

    <div class="list-group mt-4">

        <a href="{% url 'add_job_role' %}" class="list-group-item list-group-item-action">
            Add Job Role
        </a>

        <a href="{% url 'view_job_roles' %}" class="list-group-item list-group-item-action">
            View Job Roles
        </a>

        <a href="{% url 'add_skill' %}" class="list-group-item list-group-item-action">
            Add Skill
        </a>

        <a href="{% url 'view_skills' %}" class="list-group-item list-group-item-action">
            View Skills
        </a>

        <a href="{% url 'assign_skill_to_role' %}" class="list-group-item list-group-item-action">
            Assign Skills to Roles
        </a>

        <a href="{% url 'view_role_skills' %}" class="list-group-item list-group-item-action">
            View Role-Skill Mapping
        </a>

        <a href="{% url 'add_learning_resource' %}" class="list-group-item list-group-item-action">
            Add Learning Resource
        </a>

        <a href="{% url 'view_learning_resources' %}" class="list-group-item list-group-item-action">
            View Learning Resources
        </a>

        <a href="{% url 'add_industry_tool' %}" class="list-group-item list-group-item-action">
            Add Industry Tool
        </a>

        <a href="{% url 'view_industry_tools' %}" class="list-group-item list-group-item-action">
            View Industry Tools
        </a>

        <a href="{% url 'assign_tool_to_role' %}" class="list-group-item list-group-item-action">
            Assign Tools to Roles
        </a>

        <a href="{% url 'view_role_tools' %}" class="list-group-item list-group-item-action">
            View Role-Tool Mapping
        </a>

        <a href="{% url 'add_competency_group' %}" class="list-group-item list-group-item-action">
            Add Competency Group
        </a>

        <a href="{% url 'add_competency_group_members' %}" class="list-group-item list-group-item-action">
            Add Skills to Competency Group
        </a>

        <a href="{% url 'view_competency_groups' %}" class="list-group-item list-group-item-action">
            View Competency Groups
        </a>

        <a href="{% url 'import_dataset' %}" class="list-group-item list-group-item-action">
            Import Dataset
        </a>

        <a href="{% url 'logout' %}" class="list-group-item list-group-item-action text-danger">
            Logout
        </a>

    </div>
</div>
{% endblock %}