{% extends 'career_app/base.html' %}

{% block content %}

<h2>Super Admin Dashboard</h2>

<p>Welcome Super Admin, {{ request.user.first_name|default:request.user.username }}</p>

<div class="list-group mt-4">

    <a href="{% url 'generate_admin_invite' %}" class="list-group-item list-group-item-action">
        Generate Admin Invite Code
    </a>

    <a href="{% url 'view_admin_requests' %}" class="list-group-item list-group-item-action">
        Approve Admin Requests
    </a>

       <a href="{% url 'view_admin_requests' %}" class="btn btn-warning btn-lg">
        View Admin Requests
    </a>

    <a href="{% url 'view_users' %}" class="list-group-item list-group-item-action">
        View Users
    </a>

    <a href="{% url 'view_admins' %}" class="list-group-item list-group-item-action">
        View Admins
    </a>

    <a href="{% url 'platform_analytics' %}" class="btn btn-primary">
    Platform Analytics
</a>

    <a href="{% url 'logout' %}" class="list-group-item list-group-item-action text-danger">
        Logout
    </a>

</div>

{% endblock %}