{% extends 'career_app/base.html' %}

{% block content %}
<h2>User Dashboard</h2>
<p>Welcome, {{ request.user.username }}</p>

<div class="list-group mt-4">

    <a href="{% url 'career_match' %}" class="list-group-item list-group-item-action">
        Career Matching
    </a>

    <a href="{% url 'view_profile' %}" class="list-group-item list-group-item-action">
        My Profile
    </a>

    <a href="{% url 'readiness_assessment' %}" class="list-group-item list-group-item-action">
        Academic-to-Industry Readiness Assessment
    </a>

    <a href="{% url 'bottleneck_detection' %}" class="list-group-item list-group-item-action">
        Employability Bottleneck Detection
    </a>

    <a href="{% url 'add_project' %}" class="list-group-item list-group-item-action">
        Add Project
    </a>

    <a href="{% url 'view_projects' %}" class="list-group-item list-group-item-action">
        View Projects
    </a>

    <a href="{% url 'career_transition_analysis' %}" class="list-group-item list-group-item-action">
        Career Transition Feasibility Analysis
    </a>

    <a href="{% url 'logout' %}" class="list-group-item list-group-item-action text-danger">
        Logout
    </a>

</div>
{% endblock %}