{% extends 'career_app/base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Role-Skill Mapping</h2>

        <a href="{% url 'assign_skill_to_role' %}" class="btn btn-success">
            Assign Skills to Role
        </a>
    </div>

    {% if role_skills %}

    <div class="card shadow">
        <div class="card-body">

            <table class="table table-bordered table-hover align-middle">

                <thead class="table-dark">
                    <tr>
                        <th>Job Role</th>
                        <th>Skill</th>
                        <th>Importance</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in role_skills %}
                    <tr>
                        <td><strong>{{ item.job_role.role_name }}</strong></td>
                        <td>{{ item.skill.skill_name }}</td>
                        <td>
                            {% if item.importance == "High" %}
                                <span class="badge bg-danger">High</span>
                            {% elif item.importance == "Medium" %}
                                <span class="badge bg-warning text-dark">Medium</span>
                            {% else %}
                                <span class="badge bg-success">Low</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>
    </div>

    {% else %}

    <div class="alert alert-warning">
        No role-skill mappings have been created yet.
    </div>

    {% endif %}

    <div class="mt-4">
        <a href="{% url 'admin_dashboard' %}" class="btn btn-dark">
            Back to Dashboard
        </a>
    </div>

</div>

{% endblock %}